.no-border {
	border: 0px;
}

.textCenter {
	text-align: center;
}

.searchTool {
	position: relative;
	left: 10%;
	width: 80%;
}

.loginLink {
	font-weight:bold;
	color: blue;
	font-size:1.4vw;
	text-decoration: none;
}
.logoutLink{
	font-weight:bold;
	color: blue;
	font-size:1.9vw;
	text-decoration: none;
}


.cartButton {
	
}