<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/is3</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password"></property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.current_session_context_class">thread</property>

		<mapping resource="hibernate/user.hbm.xml" />
		<mapping resource="hibernate/sucursal.hbm.xml" />
		<mapping resource="hibernate/pharmacy.hbm.xml" />
		<mapping resource="hibernate/product.hbm.xml" />
		<mapping resource="hibernate/product_sucursal.hbm.xml" />
		<mapping resource="hibernate/sale.hbm.xml" />
		<mapping resource="hibernate/sale_product.hbm.xml" />
	</session-factory>
</hibernate-configuration>
